extends _layout

block sidebar
  nav
    div(class='panel panel-default')
      div(class='panel-heading') API Calls
      div(class='panel-body')
        ul(class='nav nav-pills nav-stacked')
          each methods, path in api.paths
            each call, method in methods
              li
                a(href='#')= call.summary
                  span(class='label label-#{method} pull-right')
                    = method.toUpperCase()

block content
  h1(class='page-header')= api.info.title
    if api.info.version
      = ' '
      small Version #{api.info.version}
  if api.info.description
    != markdown(api.info.description)
